<h1>Editing article</h1>

<div class="form-group">
  <label class="control-label required" for="article_title">Title</label>
  <input class="form-control" type="text" name="article[title]" id="article_title">
</div>


<%= link_to "show", article_path %>
<%= link_to "back", articles_path %>

<div class="ace_content" style="margin-top: 0px; width: 669px; height: 226.8px; margin-left: 0px;">
