<nav>
  <h1>Wikinimous</h1>
  <%= link_to "New article", new_article_path %>
</nav>
<ul>
  <% @articles.each do |article| %>
    <li><h2><%= link_to article.title, article_path(article) %></h1></li>
    <li><h3><%= article.content %>
  <% end %>
</ul>
